{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Director Collector</title>
  {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> {% endcomment %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  <header>
    <a class="center" id="brand-title" href="{% url 'home' %}" class="brand-logo center">&nbsp;&nbsp;DirectorCollector</a>
    <nav class="navbar-fixed">
      <div class="nav-wrapper">
        <ul class="left">
          <li><a href="{% url 'about' %}">About</a></li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Log Out</a></li>
            {% else %}
              <li><a href="{% url 'signup' %}">Sign Up</a></li>
              <li><a href="{% url 'login' %}">Log In</a></li>
            {% endif %}
          </ul>
            <ul class="right">
            <li><a href="{% url 'index' %}">Directors</a></li>
            <li><a href="{% url 'directors_create' %}">Add a Director</a></li>
            <li><a href="{% url 'nominations_index' %}">Nominations</a></li>
            <li><a href="{% url 'nominations_create' %}">Add a Nomination</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer">
    <div class="right">All Rights Reserved, &copy; 2022 Director Collector &nbsp;</div>
  </footer>
</body>
</html>
