body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: blanchedalmond;
  }
  
main {
  flex: 1 0 auto;
}

nav, footer.page-footer {
  background-color: lightgreen;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}
  
#id_won {
  display: block;
  height: 1000px;
}