{% extends 'base.html' %} {% block content %}

<h1>Director Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <a href="{% url 'detail' director.id %}"></a>
      <div class="card-content">
        <span class="card-title">{{ director.name }}</span>
        <p>Nationality: {{ director.nationality }}</p>
        <p>Description: {{ director.description }}</p>
        {% if director.age != 0 %}
        <p>Age: {{ director.age }}</p>
        {% else %}
        <p>Age: Dead</p>
        {% endif %}
      </div>
      <div class="card-action">
        <a href="{% url 'directors_update' director.id %}">Edit</a>
        <a href="{% url 'directors_delete' director.id %}">Delete</a>
      </div>
    </div>
  </div>

  <div class="col s6">
    <form action="{% url 'add_showing' director.id %}" method="post">
      {% csrf_token %}
      {{ showing_form.as_p }}
      <input type="submit" class="btn" value="Add Showing">
    </form>
    <table class="striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Movie Title</th>
          <th>Genre</th>
        </tr>
      </thead>
      <tbody>
        {% for showing in director.showing_set.all %}
        <tr>
          <td>{{showing.date}}</td>
          <td>{{showing.name}}</td>
          <td>{{showing.get_genre_display}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script src="../../static/js/materialize.js"></script>

{% endblock %}
